[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==3.1.7"
psycopg2 = "==2.8.6"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
channels = "*"
channels-redis = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
